
* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.cell {
    border: 1px solid black;
}

.wall {
    background-color: #dddddd;
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}